.title
    height 60px
    font-size 30px
    padding 12px 10px

.fields
    display flex
    justify-content space-between
    margin-bottom 75px
    font-size 20px
    user-select none

.field,
.open
    border 1px solid #a9a9a9
    border-radius 6px
    height 35px
    padding 0 8px
    box-sizing border-box
    outline none

.fields__type
    width 130px
    position relative
    text-transform capitalize
    line-height 32px

.fields__type-toggle
    width 25px
    height 25px
    border 1px solid #a9a9a9
    position absolute
    right 3px
    top 3px
    border-radius 4px
    &::after
        content ""
        border 10px solid transparent
        border-top 14px solid
        display block
        top 5px
        left 1px
        position absolute

.fields__type-income,
.fields__currency-euro
    display none

.fields__type-expense
    cursor pointer

.fields__currency
    width 60px
    position relative
    line-height 34px
    cursor pointer

.fields__amount
    width 200px
    font-size 20px
    text-align right

.fields__description
    width 530px
    font-size 20px

.fields__add
    width 80px
    background transparent
    font-size 17px
    cursor pointer

.open
    display block
    position absolute
    right 0
    left 0
    border-top none
    bottom -33px
    border-radius 0 0 6px 6px
    padding-top 3px
    cursor pointer

.invalid
    border 1px solid red
